/* SUCCESSFULL PAGE STYLING */
.success_msg{
    margin:auto;
    height:70vh;
    width: 100%;
    padding:3rem 2rem;
    border:none;
    border-radius: 1rem;
}

dialog::backdrop{
    background-color: hsl(234,29%,20%);
}

.success_msg_container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    gap:2rem;
}

.success_msg_head{
    font-size: 2.5em;
    color: var(--dark-slate-grey);
}

.success_msg_note{
    line-height: 1.5rem;
    color: var(--dark-slate-grey);
}
